<html>
    <!--Ahmed Shahine Hani Hassan
                20200019
                S9
                Ahmed Mahmoud selim Abdallah
                20210622
                S9
                Mohamed Anwar Abd Elhady Mohamed
                20200430
                S9
                Ahmed Sameh Ahmed
                20200015
                S9
                Ahmed Hassan Ahmed Foad
                20200010
                S9
                Ahmed Abdelkarim Ahmed 
                20201010
                S10-->
<head>
    <meta charset="utf-8">
    <title>about</title>
    <meta name="describtion" content="This is our Laporatory" />
    <link rel="stylesheet" type="text/css" href="css\about css.css">
    <script src="report problem js.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body>
    <header>
        <a href="#" class="logo">index</a>
        <form style="text-align: center;" class="search">
            <label for="gsearch">
                Search
            </label>
            <input type="search" id="gsearch" name="gsearch">
        </form>
        <nav class="navi">
            <a href="Home Page.html">Home</a>
      <a href="Add a laboratory html.html">Add lab</a>
      <a href="Update.html">Update</a>
      <a href="Delete a Laboratory.html">Delete</a>
      <a href="Add a pc.html">Add PC</a>
      <a href="pcs repair.html">Repair PC</a>
      <a href="report problem page.html">Report</a>
      <a href="about.html">About</a>
        </nav>
    </header>
<head>
    <title>
        about Laboratory
    </title>
</head>

<body>
    <h1>
        <table>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Group Number</th>
            </tr>
            <tr>
                <td>Ahmed Shahine Hani Hassan</td>
                <td>20200019</td>
                <td>S9</td>
            </tr>
            <tr>
                <td>Ahmed Mahmoud selim Abdallah</td>
                <td>20210622</td>
                <td>S21</td>
            </tr>
            <tr>
                <td>Mohamed Anwar Abd Elhady Mohamed</td>
                <td>20200430</td>
                <td>S9</td>
            </tr>
            <tr>
                <td>Ahmed Sameh Ahmed</td>
                <td>20200015</td>
                <td>S9</td>
            </tr>
            <tr>
                <td>Ahmed Hassan Ahmed Foad</td>
                <td>20200010</td>
                <td>S9</td>
            </tr>
            <tr>
                <td>Ahmed Abdelkarim Ahmed </td>
                <td>20201010</td>
                <td>S10</td>
            </tr>
        </table>
    </h1>
</body>

</html>