{%load static%}
<html>
<head>
    <meta charset="utf-8">
    <title>about</title>
    <meta name="describtion" content="This is our Laporatory" />
    <link rel="stylesheet" type="text/css" href="{% static 'css\about css.css'%}">
    <script src="{% static 'report problem js.js'%}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body>
    <header>
        <a href="#" class="logo">index</a>
    <form style="text-align: center;" class="search" action="{% url 'lab'%}">
        <label for="gsearch">
            Search
        </label>
        <input type="search" id="gsearch" name="q" >
    </form>
    <nav class ="navi">
        <a href="/">Home</a>
      <a href="{% url 'create-lab'%}">Add lab</a>
      <a href="{% url 'lab'%}">View labs</a>
      <a href="{% url 'pcs'%}">see pcs</a>
      <a href="{% url 'create-pc'%}">Add PC</a>
      <a href="{% url 'report-pc'%}">Report</a>
      <a href="{% url 'about'%}">About</a>
      <a href="{% url 'report-list'%}">All-reports</a>
    </nav>
    </header>
<head>
    <title>
        about Laboratory
    </title>
</head>

<body>
    <h1>
        <table>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Group Number</th>
            </tr>
            <tr>
                <td>Ahmed Shahine Hani Hassan</td>
                <td>20200019</td>
                <td>S9</td>
            </tr>
            <tr>
                <td>Ahmed Mahmoud selim Abdallah</td>
                <td>20210622</td>
                <td>S21</td>
            </tr>
            <tr>
                <td>Mohamed Anwar Abd Elhady Mohamed</td>
                <td>20200430</td>
                <td>S9</td>
            </tr>
            <tr>
                <td>Ahmed Sameh Ahmed</td>
                <td>20200015</td>
                <td>S9</td>
            </tr>
            <tr>
                <td>Ahmed Hassan Ahmed Foad</td>
                <td>20200010</td>
                <td>S9</td>
            </tr>
            <tr>
                <td>Ahmed Abdelkarim Ahmed </td>
                <td>20201010</td>
                <td>S10</td>
            </tr>
        </table>
    </h1>
</body>

</html>