{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{%static 'css\Delete Page CSS.css'%}">
        <meta charset="utf-8">
        <title>Delete a laboratory</title>
        <meta name="describtion" content="This is our Laporatory"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    </head>
    <body>  
        <header>
             <a href="#" class="logo">index</a>
    <form style="text-align: center;" class="search" action="{% url 'lab'%}">
        <label for="gsearch">
            Search
        </label>
        <input type="search" id="gsearch" name="q" >
    </form>
    <nav class ="navi">
        <a href="/">Home</a>
      <a href="{% url 'create-lab'%}">Add lab</a>
      <a href="{% url 'lab'%}">View labs</a>
      <a href="{% url 'pcs'%}">see pcs</a>
      <a href="{% url 'create-pc'%}">Add PC</a>
      <a href="{% url 'report-pc'%}">Report</a>
      <a href="{% url 'about'%}">About</a>
      <a href="{% url 'report-list'%}">All-reports</a>
    </nav>
        </header>
        <form class="form2"  name="form" onsubmit="validateForm()" method="POST">
            {%csrf_token%}
            <h1>Delete a laboratory</h1>
            <p>Are you sure you want to delete <span style=" color: red">{{object.lab_name}}</span>??</p>
            <!-- <label>Laboratory Name</label>
            <input type="text" name="Laboratory's Name" placeholder="Laboratory's Name" >
            <div id="error"></div>
            <br>
            <label>Laboratory ID</label>
            <input type="text" name="Laboratory's ID" placeholder="Laboratory's ID" >
            <div id="error"></div> -->
            <br>
            <button type="submit" onsubmit= AlertFunction() value="submit">Delete</button>
        </form>
     <script src="{% static 'js\Delete Page JS.js'%}"></script>    
    </body>
</html>