{%load static%}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/Home-Page.css'%}">
<style>

    body{
    background-image: url("{% static 'css/image/Home page.jpeg'%}") ;
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    border: 1px solid none;    
    font-size: 30px;
    text-align: center;
    margin-top: 175px;}
a{
    text-decoration: none;
 }
</style>
    </head>
    <body>
        <!--<p>Human Resources Website</p>
        <p>Student Affairs website</p>-->
        <a href="about.html"><p>Higher studies website</p></a>
        <a href="{% url 'lab'%}">Laboratory tracking website</a>
    </body>
</html>

