<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repair PC</title>
    <link rel="stylesheet" type="text/css" href="css\pcs repair css.css">
    <script src="js\pcs repair js.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body>
<header>
    <a href="#" class="logo">index</a>
    <form style="text-align: center;" class="search">
        <label for="gsearch">
            Search
        </label>
        <input type="search" id="gsearch" name="gsearch" >
    </form>
    <nav class ="navi">
        <a href="Home Page.html">Home</a>
      <a href="Add a laboratory html.html">Add lab</a>
      <a href="Update.html">Update</a>
      <a href="Delete a Laboratory.html">Delete</a>
      <a href="Add a pc.html">Add PC</a>
      <a href="pcs repair.html">Repair PC</a>
      <a href="report problem page.html">Report</a>
      <a href="about.html">About</a>
    </nav>
</header>
<h2>PCs needs a repair</h2>
<center>
<table>
    <tr>
        <th>Laboratory ID</th>
        <th>PC number</th>
        <th>Problem details</th>
        <th>Date</th>
        <th>Reparied</th>
    </tr>
    <tr>
        <td> <input type="text" id="myText" value=""></td>
        <td><input type="text" id="myText" value=""></td>
        <td><input type="text" id="myText" value=""></td>
        <td><input type="text" id="myText" value=""></td>
        <td><input type="checkbox" name="reparied" /></td>
    </tr>

</table>
</center>
</body>
</html>