{% load static%}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>report problem</title>
    <meta name="describtion" content="This is our Laporatory" />
    <link rel="stylesheet" type="text/css" href="{% static 'css\report problem css.css'%}">
    <script src="{%static 'js\report problem js.js'%}"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>

<body>
    <header>
          <a href="#" class="logo">index</a>
    <form style="text-align: center;" class="search" action="{% url 'lab'%}">
        <label for="gsearch">
            Search
        </label>
        <input type="search" id="gsearch" name="q" >
    </form>
    <nav class ="navi">
        <a href="/">Home</a>
      <a href="{% url 'create-lab'%}">Add lab</a>
      <a href="{% url 'lab'%}">View labs</a>
      <a href="{% url 'pcs'%}">see pcs</a>
      <a href="{% url 'create-pc'%}">Add PC</a>
      <a href="{% url 'report-pc'%}">Report</a>
      <a href="{% url 'about'%}">About</a>
      <a href="{% url 'report-list'%}">All-reports</a>
    </nav>
    </header>
    <body>  
        <form  onsubmit="AlertFunction()" name="form" method="POST">{%csrf_token%}
          <div class="form-group " >
            <div class="container jumbotron">
                <h1 class="text-center">Report to a Labouratory</h1>
                {{form|crispy }}
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              
          </div>
        </form>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>