<!DOCTYPE html>
<html lang="en">
<head>
  <script src="js\Add a laboratory js.js"></script>
    <meta charset="utf-8">
    <title>Add a Laporatory</title>
    <meta name="describtion" content="This is our Laporatory"/>
    <link rel="stylesheet" type="text/css" href="css\Add a laboratory css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body>
<header>
    <a href="#" class="logo">index</a>
    <form style="text-align: center;" class="search">
        <label for="gsearch">
            Search
        </label>
        <input type="search" id="gsearch" name="gsearch" >
    </form>
    <nav class ="navi">
      <a href="Home Page.html">Home</a>
      <a href="Add a laboratory html.html">Add lab</a>
      <a href="Update.html">Update</a>
      <a href="Delete a Laboratory.html">Delete</a>
      <a href="Add a pc.html">Add PC</a>
      <a href="pcs repair.html">Repair PC</a>
      <a href="report problem page.html">Report</a>
      <a href="about.html">About</a>
    </nav>
</header>
<form name="form" onsubmit="AlertFunction()">
  <center>
   <table class="pp">
     <tbody>
         <tr>
          <th><label>Laporatory Name </label></th>
          <td><input type="text" name="Laporatory name" placeholder="Laporatory name"></td>
         </tr>
         <tr>
             <th><label>Laporatory ID</label></th>
             <td><input type="text" maxlength="8" name="Laporatory ID" placeholder="Laporatory ID"></td>
          </tr>
  
         <tr>
           <th><label>Building Number</label></th>
           <td><input type="text" maxlength="4" name="Number of building" placeholder="Number of building"></td>
         </tr>
  
         <tr>
           <th><label>Floor number</label></th>
           <td><input type="text" name="number of floor" placeholder="number of floor"></td>
         </tr>
  
         <tr>
           <th><label> Number of PCs</label></th>
           <td><input type="number" min="1" name="number of PCs" placeholder="number of PCs"></td>
         </tr>
  
         <tr>
           <th><label> Capacity  </label></th>
           <td> <input type="number" min="1" name="lap cpacity" placeholder="lap cpacity"></td>
         </tr>
  
        <tr>
           <th><label>Number of chairs</label></th>
           <td><input type="number" min="1" name="chairs numbers" placeholder="chairs numbers"></td>
       </tr>
    </tbody>
   </table>
  </center>
      <div class="not">
          Status: <input type="radio" name="status"> Active
          <input type="radio" name="status">Under maintenance
      </div>
      <div class="bb"><input type="submit" value="save"></div>
  </form>
  </body>
  </html>